@font-face {
  font-family: "PT sans";
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box ;
}

.visually-hidden {
  visibility: hidden;
}

body {
  font-family: "PT sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 21px;

  margin: 0;
  padding: 0;

  color: #000000;
  background-color: #F2F2F2;
}

.page-wrapper {
  max-width: 1200px;
  background-color: #ffffff;
  box-shadow: 5px 0 15 rgba(0, 0, 0, 0.2);

  margin: 0 40px;
}

.navigation {
  font-size: 20px;
  line-height: 24px;
}

.hero {

  max-width: 1200px;
  height: 485px;
  background-color: lightblue;
  background-image: url(../images/divider-hero-background.png), url(../images/index-hero-background.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom;
  text-align: center;
}

.hero-image {
  display: inline-block;
}

.subscribe-index {
  max-width: 1200px;
  height: 485px;
  background-color: lightblue;
  background-image: url(../images/subscribe-bg.jpg);
  background-size: cover;
}

.hotel {

  max-width: 1200px;
  height: 485px;
  background-color: lightblue;
  background-image: url(../images/hotels-serch-bg.jpg);
  background-size: cover;

}
